body,html,#container{
  padding: 0;
  margin: 0;
  width:100%;
  height: 100%;
  overflow: hidden;
}
#container{
  position: relative;

  &>#div_left,&>#div_right{
    border:1px solid red;
    width:50%;
    height:100%;
  }
  #div_left{
    position: absolute;
    left:0px;

  }
  #div_right{
    position: absolute;
    right:0px;

    #div_edit{
      height:56%;
    }
    #div_ouput{
      height:44%;
    }
  }
}

#sitebar{
  position: absolute;
  right: 0;
  background: #3b3b3b;
  height:100%;
  width:500px;
  z-index: 999;
  opacity: .9;
  transform: translate(0%);
  transition: transform .3s ease-in-out;

  #btn_solder{
    position: absolute;
    border-radius: 3px;
    padding: 0;
    width:40px;
    height:40px;
    line-height: 40px;
    top: 50%;
    left:0px;
    transition: all .3s ease-in-out;
    transform-origin: 0% 0%;
    transform: translate(-100%,-50%);
  }
  .btn_solder_close{
    background: #090909;
    color: red;
    opacity:0.5;
    transition: all .3s ease-in-out;
    transform: scale(1.5) translate(-100%,-50%);

  }
  #btn_solder:hover,.btn_solder_open{
    background: red;
    color: #090909;
    opacity:1;
    transition: all .3s ease-in-out;
    transform: scale(1.5) translate(-100%,-50%);
  }


  h1{
    color:#fff;
    margin: 0;
    background: #000E35;
    text-align: center;
    border-bottom: 2px solid black;
  }

  &>ol#list_chap{
    position: absolute;
    width:100%;
    top:41px;
    bottom:20px;
    overflow-y: auto;
      &>li{

        &>h4{
          border-bottom: 1px solid black;
        }
        &>ol{
          &>li{
            list-style-type: none;
            margin-bottom: 15px;
            border-radius: 3px;
            text-align: center;
            width: 60%;
            color: #1300ff;
            padding: 10px 0px;
            background: #f4f3ff;
            transition: all .3s ease-in-out;
            transform-origin: 50% 50%;
          }
          &>li.active,&>li:hover{
            color: #f4f3ff;
            background: #1300ff;
            transform: scale(1.2);
          }
          &>li.active{
            background: #000;
          }


        }
      }
    }

}
#mask{
  //display: none;
  position: absolute;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.8);
  z-index: 100;
}


